name: pagination
description: A widget that allows you to build a numerical pagination useful, for example, if you want to build a custom paginated table.
version: 0.0.2
homepage: https://github.com/alessioliotta95/pager

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:

